
form{
    width: 500px;
    flex-wrap: wrap;
    display: flex;
    align-items: center;
    padding: 30px;
    border: 2px solid #f1f1f1;
    border-radius: 10px;

    

}
input{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
button{
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover{
    background: linear-gradient(to right, #4CAF50, #d22717);
    transition: 10s;
    transform: scale(1.02);
}
